# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/*

# Test binary, built with `go test -c`
*.test

#vscode
.vscode 

# environment file
.env

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
Ofilename

# Dependency directories (remove the comment below to include it)
# vendor/

